.div-home-HBtabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.div-home-HBtabs nav,.div-home-HBtabs section{
    flex:1;
}
.div-home-HBtabs nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    
    margin-bottom: 60px;
}
.div-home-HBtabs nav button.bt_tablinks{
    /* background: crimson; */
    color: #bababa;

    font-size: 20px;
    padding: 10px;
    flex:1;

    display: block;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}
.div-home-HBtabs nav button.bt_tablinks:hover,
.div-home-HBtabs nav button.active{
    color: #363f93;
}
.div-home-HBtabs section article.article_content{

    display: none;
}
.div-home-HBtabs section .current{
    display: flex;
    flex:1;
}