.div-home-HBmap{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    position: relative;
    flex:1;
    margin:0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-home-HBmap div.div_map{
    position: relative;
    width:90%;
    margin:0 auto;
}
.classContinent{
    width: 100% !important;
}
.div-home-HBmap div.div_map img{
    vertical-align: top;

    width: 100%;
}
.div_filter{
    background: rgba(89, 77, 156, 0);

    position: absolute;
    cursor: pointer;
}

.div-home-HBmap span{
    color: #363f93;

    padding: 5px;
}

.div-home-HBmap span.sp_success{
    font-size: 22px;
    margin-bottom: 40px;

    font-weight: bold;
}
.div-home-HBmap span.sp_select{
    font-size: 16px;
    margin-bottom: 50px;
}
.hidden{
    display: none;
}