/**
* ----------- footer --------------
*/
.div-home-HBfooter{
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }
 .div_footer{
  display: flex;
  flex-direction: row;
  flex:1;
 }
 .div-home-HBfooter .div-home-HBcomeback{
   display:inline-block;
   align-self: flex-start;
  /* display: inline-block; */
 }
 .div-home-HBfooter span{
   padding: 10px 0px;
 
   text-align:center;
 }
 /* footer #sp_adv{
   color:#363f93;
 
   font-size: 12px;
   padding: 5px;
 
   text-align:center;
   text-decoration: none;
 } */
 .div-home-HBfooter nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
 
   flex:1;
   margin:0 auto;
   width: 100%;
 }
 .div-home-HBfooter nav a:hover{
   color: #555;
 }
 .div-home-HBfooter nav a{
   text-align: center;
   text-decoration: none;
 }
 .div-home-HBfooter span#sp_copyright{
   /* position: absolute; */
   left: 5px;
   bottom:10px;
   display: block;
   /* align-self: flex-start; */
 } 
 .div-home-HBfooter nav a,
 .div-home-HBfooter span#sp_copyright{
  color: #aaa;
 
  padding: 14px;
  font-size: 12px;
 }