/**
* ----------- footer --------------
*/
footer {
    background: #fff;

    position:sticky;
    bottom:0;
    width:100%;
    padding: 20px;
    /* height:160px; */
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
 }
 footer span{
   padding: 10px 0px;
 
   text-align:center;
 }
 footer #sp_adv{
   color:#363f93;
 
   font-size: 12px;
   padding: 5px;
 
   text-align:center;
   text-decoration: none;
 }
 footer span#sp_copyright{
   position: absolute;
   left: 10px;
   bottom:20px;
   color: #aaa;
 
   font-size: 12px;
   padding: 10px;
 }
 footer nav{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-end;
 
   flex:1;
   margin:0 auto;
 }
 footer nav a:hover{
   color: #555;
 }
 footer nav a{
   color: #aaa;
 
   padding: 10px;
   font-size: 12px;
 
   text-align: center;
   text-decoration: none;
 }