.div-home-HBmapcountry{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div-home-HBmapcountry .aside_title {
    color: #363f93;

    font-size: 20px;
    padding: 10px;

    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.div-home-HBmapcountry img#img_country{
    max-width: 180px;
}