.Continent{
    min-height: 100%;
    flex:1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.Continent section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    flex:1;
}

.Continent .div-home-HBmap{
    flex:2;
    /* max-width: 50%; */
}
.Continent .div-home-HBannonces{
    flex:1;
    /* max-width: 300px; */
    max-height: 400px;
    max-width: 25%;
    margin: 20px;
}
.Continent .div-home-HBfilter{
    /* max-width: 300px; */
    max-width: 25%;
    margin: 20px;
    flex:1;
}