.div-home-HBfilter{
   
}

#myInput {
  background-color: #f6f6f6;
  border-bottom:2px solid #363f93;
  
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

#myUL {
  padding: 0;
  margin: 0;
  height: 300px;

  list-style-type: none;
  overflow: scroll;
}

#myUL li a {
  color: black;
  border-bottom: 1px solid #ddd;

  padding: 10px;
  font-size: 16px;
  
  text-decoration: none;
  text-transform: capitalize;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}