* {
    padding: 0px;
    margin: 0px;
    border: 0px;
  
    border-collapse: collapse;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'helvetica', sans-serif; 
  }
  *:focus {
    outline: 0; 
  }
  
  html,
  body {
    height: 100%;
    min-height: 100%; 
  }
  
  
.content{
    min-height: 100%;

    display: flex;
    flex-direction: column;
    flex:1;
}
.divFooter{
    margin-top:-40px;
}