.Home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.Home header {
  flex: 1;
}

.Home section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.Home aside.home-aside {
  /* background: #eee; */
  flex: 1;
  padding: 0px 20px;
  display: flex;
  align-content: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.Home article.home-article {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Home span.sp_select{
  color: #363f93;

  padding: 15px;
  
  font-size: 16px;
  text-align: center;
}

.Home .div-home-HBmapcountry{
  margin-top: 70px;
}
.Home .div-home-HBinfosblog{
  margin-top: 120px;
}
.div-home-HBannonces{
  margin-top: 30px;
}