.div-home-HBerror{
  /* background: #363f93; */

  padding: 10%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; 
}

.div-home-HBerror span{
  font-weight: bold;
  text-align: center;

  padding: 20px;
}

.span_main{
  color: #363f93;

  font-size: 40px;
  text-transform: uppercase;
}
.span_redirect{
  color: #bbb;

  font-size: 24px;
}